{%extends "base.html" %}

{% block title %} Trainix | Manager Dashboard {% endblock %}

{% block extra_css %} <link rel="stylesheet" href="../static/css/manager_dashboard.css"> {% endblock %}

{% block content %}
  
<div class="page-hero no-select">
    <div class="page-hero-content">
        <h1>Manager Dashboard</h1>
        <p>Review and approve training requests from your team</p>
    </div>
</div>

<div class="stats-container">
    <div class="stat-card pending">
        <h2>1</h2><br>
        <p>pending requests</p>
    </div>
    <div class="stat-card approved">
        <h2>0</h2><br>
        <p>Approved This Month</p>
    </div>
    <div class="stat-card team">
        <h2>8</h2><br>
        <p>Team Members</p>
    </div>
    <div class="stat-card attendance">
        <h2>92%</h2><br>
        <p>Attendance Rate</p>
    </div>
</div>

<div>
    <div class="dashboard-content">
        <div class="dashboard-section">
            <h2>Pending Training Requests</h2>

            <div class="grid-header">
                <div>Employee</div>
                <div>Training Session</div>
                <div>Date & Time</div>
                <div>Date Requested</div>
                <div>Actions</div>
            </div>
            
            <div class="grid-item">
                <div class="column">
                    <strong> Lotanna </strong>
                    <span class="sub-text">HR business partner</span>
                </div>
                <div class="column">
                    <strong> Computing </strong>
                    <span class="sub-text">Online</span>
                </div>
                <div class="column">
                    <strong> Friday 5th June </strong>
                    <span class="sub-text">10:00 AM - 12:00 PM</span>
                </div>
                <div class="column">
                    <strong> 1st June 2026 </strong>
                </div>
                <div class="actions">
                    <form method="POST">
                        <button type="submit" class="approve-button">Approve</button>
                        <button type="submit" class="reject-button">Reject</button>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %} <script src="../static/js/manager_dashboard.js"></script> {% endblock %}